## Data types
- integer            int
- float              float
- strings            str
- boolean            bool
- complex conjugate  complex

$ integer $

In [2]:
number=100
number

100

In [3]:
#type of the variable: type
type(number)

int

### In math we have different number system
- decimal
- binary
- octal
- hexa

**Binary**
- Bi means two
- so the base is also 2 
- Number system: combination of [0,9] 
- Binary system: we use only two digits: 0 and 1
- representation is: 0b<combinations of 0 and 1>
- 0b110, 0B011101

In [4]:
0b111
#python output will be in decimal format only

7

In [5]:
0B011101

29

In [ ]:
# 3 digits = 4 2 1
# 4 digits = 8 4 2 1 
# 5 digits = 16 8 4 2 1
4 2 1 decimal output
0 0 0 0
0 0 1 1
0 1 0 2
0 1 1 3
1 0 0 4
1 0 1 5
1 1 0 6
1 1 1 7
4= 4 times 0 and 4 times 1 will come
2= 2 times 0 and 2 times 1
1= 1 time 0 and 1 time 1
ON = 1
OFF =0

In [ ]:
# 4 digit system
8 4 2 1 decimal output
0 0 0 0 0
0 0 0 1 1
0 0 1 0 2
0 0 1 1 3
0 1 0 0 4
0 1 0 1 5
0 1 1 0 6
0 1 1 1 7
1 0 0 0 8
1 0 0 1 9
1 0 1 0 10
1 0 1 1 11
1 1 0 0 12
1 1 0 1 13
1 1 1 0 14
1 1 1 1 15
8= 8 times 0 and 8 times 1 will come
4= 4 times 0 and 4 times 1 will come
2= 2 times 0 and 2 times 1
1= 1 time 0 and 1 time 1
ON = 1
OFF =0

In [6]:
0b1110

14

In [7]:
0b1001

9

In [8]:
0q123
#quad is not a standard system in python

SyntaxError: invalid syntax (<ipython-input-8-139e4be86fa4>, line 1)

$ Octa $
 Octa means eight
- so the base is also 8 
- Number system: combination of [0,9] 0 1 2 3 4 5 6 7 8 9
- Binary system: we use only 8 digits: 0,1,2,3,4,5,6,7
- representation is: 0b<combinations of 0 to 7>
- 0o123, 0o011101

In [9]:
0o123

83

In [10]:
0o756

494

In [11]:
0O11101

4673

**hexa**
- hexa means 16
- so the base is also 16
- Number system: combination of [0,9] 0,1,2,3,4,5,6,7,8,9;A,B,C,D,E,F
- hexa system: we use only 16 digits: (0 to 9 and A to F)
- representation is: 0x<combinations of 0 to 9 and A to F>
- 0xabc, 0x9DF

In [12]:
0xabc

2748

In [13]:
0x9DF

2527

$float$

In [14]:
number1=123.5
number1

123.5

In [15]:
type(number1)

float

In [16]:
10e3 #10 is multiplied with 1000---10*1000

10000.0

In [17]:
10e+3 #10e3 and 10e+3 are same

10000.0

In [18]:
10e-3

0.01

In [19]:
1e5

100000.0

In [ ]:
#ML---output as zero
# 0.000000000000123
#123e-10 = 123/1000000000000= 0.0000000123

In [20]:
1000e-5 #1000/100000

0.01

In [21]:
10e-10 #10/1000000000000

1e-09

$Strings$

In [22]:
name="python" # write anything in quotes- single/double
type(name)

str

In [23]:
name1="100"
type(name1)

str

In [24]:
#hai 
#how are you
#write the above sentence in one string
#output should be line by line
name2 ="hai
how are you"

SyntaxError: EOL while scanning string literal (<ipython-input-24-0dcf39c0d6ac>, line 5)

In [25]:
name2 = 'hai
how are you'

SyntaxError: EOL while scanning string literal (<ipython-input-25-e17a92356217>, line 1)

In [26]:
#wherever you wanrt to write multiple lines use triple quotes
name5 = """hai
           how are you"""
name5
#doc string

'hai\n           how are you'

In [27]:
name6 = '''hai 
           how are you'''
name6
#doc string

'hai \n           how are you'

In [ ]:
#doc string is very important
#In Jupyter notebook: markdown option
#But in vs code, pycharm: no markdown so docstring is used

In [28]:
import random
random.randint(1,2)
#Try shift+Tab ----> doc string

1

In [29]:
string1='python'
string1

'python'

In [30]:
string2="good morning"
string2

'good morning'

In [31]:
#triple quotes===doc string
#you are writing some info in between the quotes
#Note:
#Do not write like normal assignment in triple quotes
string3='''How are you'''
string3 #not advised

'How are you'

**Boolean**

In [ ]:
#whenever if you ask any qn to the computer
#its reply: T/F
#True=1(ON)
#False=0(OFF)
True---->first letter capital==>keyword
False---->first letter capital==>keyword

In [32]:
value=False#we are assigning False to a variable value
value

False

In [33]:
type(value)

bool

In [34]:
value1=True
type(value1)

bool

In [ ]:
name1=True #boolean
name2=true #both are variables but true is not defined
name3="True" #string

In [35]:
name2=true #both are variables but true is not defined
name2

NameError: name 'true' is not defined

In [36]:
name1=True #boolean
name1

True

In [37]:
name3="True" #string
name3

'True'

In [38]:
true=100 #100 is saved in a variable name
name2=true #true is saved in name2
name2 #so name2 is 100

100

In [39]:
a=100 #100 is saved in a
b=200 #200 is saved in b
a=b # b is saved in a---200
b=a #a is saved in b---200
a=500 #500 is saved in a---500
b=a #a is saved in b---500
b=900 # 900 is saved in b---900
a    #latest value of a---500

500

**Complex-Conjugate**

- a+jb or a+ib
- where a=real number
- where b=imaginary number
- i= sqrt(-1)

In [40]:
number=3+5j
number
#i doesnt work for complex numbers in python only j

(3+5j)

In [41]:
type(number)

complex

In [42]:
number1=3-5j
number1

(3-5j)

In [ ]:
#first data science lang: SPSS
#then R
#then Python

In [ ]:
#If i want to retrieve only real value seperately
3+5j
#3 is the real value
#5 is the imaginary value

In [43]:
number=3+5j
number

(3+5j)

In [44]:
dir(number)

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 'conjugate',
 'imag',
 'real']

In [45]:
number.real#<package_name>.<method_name>

3.0

In [46]:
number.imag

5.0

In [47]:
number.conjugate()
#conjugate: + becomes -, - becomes +
#<function complex.conjugate---------> means () are needed at the end

(3-5j)

In [48]:
number1=3-5j
number1.real

3.0

In [49]:
number1.imag

-5.0

In [50]:
number1.conjugate()

(3+5j)

In [ ]:
#complex: a+bj
#real: a
#imaginary: b
#complex conjugate: a-bj
#real: a
#imaginary: -b

In [51]:
complex(4,10)
#real=4
#imaginary=10
#number==4+10j

(4+10j)

In [52]:
complex(4,-10)
#inside bracket what you are seeing that is called parameters/arguments
#bracket is called a function

(4-10j)

In [53]:
complex() 
#if i do not provide any value inside, the function will use real=0, imag=0
#default parameters/arguments--->0,0
#0+0j====>0j only-----------------imp interview qn

0j

In [54]:
number1.conjugate
#<function complex.conjugate>

- whenever if you see any brackets (), that is called function
- another name of function is called mathod
- inside bracket what you are seeing that is called parameters/arguments

In [55]:
import random
random.randint(1,100)

54

In [56]:
import math
math.sin

In [ ]:
#<function math.sin(x, /)> means brackets are missing
math.sin()

In [ ]:
#TypeError: sin() takes exactly one argument (0 given)
#means sufficient arguments should be given
math.sin(90)
#now it works fine

In [ ]:
random.randint() #error
math.sin() #error
complex() # no error
#Is it necessary to provide arguments?
#go and check the docstring---shift+tab inside the brackets

In [57]:
random.randint()

TypeError: randint() missing 2 required positional arguments: 'a' and 'b'

In [58]:
math.sin()

TypeError: sin() takes exactly one argument (0 given)

In [59]:
complex()

0j

- int
- float
- str
- bool
- complex