In [ ]:
- change one data type to another data type
- int--->float, int---->string, int---->bool, int--->complex
- float--->float, float---->string, float---->bool, float--->complex

**integer to other data types**

In [2]:
number1=100
number1

100

In [3]:
type(number1)

int

In [7]:
#case1: int--->float
float_number=float(number1)
float_number
#converting number1 into float number

100.0

In [8]:
float_number

100.0

In [9]:
type(float_number)

float

In [12]:
#case2: int--->str
string_number=str(number1)

In [14]:
string_number

'100'

In [15]:
type(string_number)

str

In [17]:
#case3:int--->bool
boolean_number=bool(number1)
boolean_number
#indirectly doing bool(100)

True

In [18]:
type(boolean_number)

bool

In [19]:
bool(0)

False

In [20]:
bool(-100)

True

**Note**
- Other than 0, everything is True in boolean conversion
- bool(0) only false

In [22]:
#case4: int----->complex
complex_number=complex(100)
complex_number

(100+0j)

In [23]:
number1=100
float_number=float(number1)#100.0
string_number=str(number1)#'100'
boolean_number=bool(number1)#'True'
complex_number=complex(number1)#100+0j

In [27]:
complex(0,100)

100j

**float to other data types**

In [28]:
#Case1: float--->int
number2=39.2
int(number2)
##Rounding up to int is always down ----lower integer

39

In [32]:
int(1.4)

1

In [33]:
int(2.5)

2

In [34]:
int(4.6)

4

In [35]:
int(5.8)

5

In [36]:
int(5.99)

5

In [29]:
#case2: float--->str
str(number2)

'39.2'

In [30]:
#case3: float--->bool
bool(number2)

True

In [31]:
#case4: float--->complex
complex(number2)

(39.2+0j)

In [37]:
round(100)

100

**string to other data types**

In [41]:
#case1: str--->int
string_value='apple'
int(string_value) #error
float(string_value)#error
bool(string_value)#true unless it is an empty string
complex(string_value)#error

In [40]:
string_value='apple' 
int(string_value)

ValueError: invalid literal for int() with base 10: 'apple'

In [42]:
string_value='apple'
float(string_value)

ValueError: could not convert string to float: 'apple'

In [43]:
string_value='apple'
bool(string_value)

True

In [44]:
string_value='' #empty string
bool(string_value)

False

**Note**:
    - empty string boolean conversion is false

In [45]:
string_value='apple'
complex(string_value)

ValueError: complex() arg is a malformed string

In [ ]:
#
string_value='10.5' #base type is float---represents in quotes
int(string_value) #10.5
float(string_value)#error
bool(string_value)#true unless it is an empty string
complex(string_value)#error

In [46]:
string_value='10.5' #base type is float---represents in quotes
int(string_value)
#since the base type is float, it cant be typecasted from string to intstring_value='10.5' #base type is float---represents in quotes

ValueError: invalid literal for int() with base 10: '10.5'

In [47]:
string_value='10.5' #base type is float---represents in quotes
float(string_value)
#Conversion type and base type has to be same for the typecast

10.5

In [48]:
string_value='10.5' #base type is float---represents in quotes
bool(string_value)
#bool(non empty string is always true)

True

In [49]:
string_value='10.5' #base type is float---represents in quotes
complex(string_value)

(10.5+0j)

In [ ]:
string_value='10' #base type is int---represents in quotes
int(string_value) #10
float(string_value)#10.0
bool(string_value)#true unless it is an empty string
complex(string_value)#10+0j

float('10')---->works
int('10.5')----->fails

how to convert string to int without error?

In [51]:
string1='10.5' #10
n1=float(string1)
n2=int(n1)
n2

10

**boolean to other data types**

In [52]:
val1=True
int(val1)
float(val1)
str(val1)
complex(val1)

(1+0j)

In [53]:
int(val1)

1

In [54]:
float(val1)

1.0

In [55]:
str(val1)

'True'

In [56]:
complex(val1)

(1+0j)

In [64]:
val1=False
int(val1)
float(val1)
str(val1)
complex(val1)

0j

In [65]:
int(val1)

0

In [66]:
float(val1)

0.0

In [67]:
str(val1)

'False'

In [68]:
complex(val1)

0j

**Complex to other data types**

In [58]:
val2=100+200j
int(val2)#error---the other way it works: complex(100)
float(val2)#error
str(val2)#in quotes
bool(val2)#True

TypeError: can't convert complex to int

In [59]:
int(val2)

TypeError: can't convert complex to int

In [60]:
float(val2)

TypeError: can't convert complex to float

In [61]:
str(val2)

'(100+200j)'

In [62]:
bool(val2)

True

In [69]:
val2=100+0j
int(val2)#error---the other way it works: complex(100)
float(val2)#error
str(val2)#in quotes
bool(val2)#True

TypeError: can't convert complex to int

In [73]:
val2=100+200j
int(val2)#error---the other way it works: complex(100)

TypeError: can't convert complex to int

In [70]:
val2=100+200j
float(val2)#error

TypeError: can't convert complex to float

In [71]:
val2=100+200j
str(val2)#in quotes

'(100+200j)'

In [72]:
val2=100+200j
bool(val2)#True

True

In [75]:
bool(0j)

False