In [ ]:
- read the lists
- type
- max
- min
- sum (only works for numbers)
- len
- in (for loop)
- range
- index
- mutable
- slice
- methods

In [ ]:
#### Lists:
- array of elements 
- in []
- list is a key word, give any other name to your list 
- list1=[1,2,3,4] #numbers
- list2=['a','b','c','d']#letters
- you can write numbers, letters and their combinations also work

In [10]:
list1=[1,2,3,4]
list1

[1, 2, 3, 4]

In [12]:
list2=['a','b','c','d']
list2

['a', 'b', 'c', 'd']

In [2]:
list4=[1,'Apple',10.5,10+5j, True]
list4

[1, 'Apple', 10.5, (10+5j), True]

In [3]:
list5=[100,100,100]
list5

[100, 100, 100]

In [ ]:
- list is an array of elements
- list elements are heterogeneous(can be of different data types).
- duplicates are allowed in lists

In [4]:
list6=['Apple',[1,2,3,4]]
list6
#list in list also works

['Apple', [1, 2, 3, 4]]

In [7]:
list7=[[1,2,3,4]]
list7

[[1, 2, 3, 4]]

In [6]:
type(list4)

list

In [8]:
min(list7)

[1, 2, 3, 4]

In [11]:
max(list1)

4

In [13]:
max(list2)

'd'

In [18]:
max(list4)

TypeError: '>' not supported between instances of 'str' and 'int'

In [19]:
max(list5)

100

In [14]:
min(list2)

'a'

In [15]:
min(list1)

1

In [16]:
min(list4)

TypeError: '<' not supported between instances of 'str' and 'int'

In [20]:
len(list1)

4

In [21]:
len(list2)

4

In [22]:
len(list4)

5

In [23]:
len(list5)

3

In [24]:
len(list6)

2

In [25]:
len(list7)

1

In [26]:
sum(list5)

300

In [27]:
sum(list2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

**in**

In [28]:
list1

[1, 2, 3, 4]

In [29]:
1 in list1

True

In [30]:
2 in list1

True

In [31]:
3 in list1

True

In [32]:
4 in list1

True

In [33]:
5 in list1

False

In [36]:
for i in list1:
    print(i)

1
2
3
4

In [37]:
for i in list2:
    print(i)

a
b
c
d

**Concatenation**

In [38]:
list1=[1,2,3,4]

In [39]:
list2=['a','b','c','d']

In [40]:
list1+list2

[1, 2, 3, 4, 'a', 'b', 'c', 'd']

In [41]:
list2+list1

['a', 'b', 'c', 'd', 1, 2, 3, 4]

In [42]:
new_list=list1+list2

In [43]:
new_list

[1, 2, 3, 4, 'a', 'b', 'c', 'd']

In [45]:
list1*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [46]:
list1-list2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [47]:
list1*list2

TypeError: can't multiply sequence by non-int of type 'list'

In [48]:
list1/list2

TypeError: unsupported operand type(s) for /: 'list' and 'list'

**Index**

In [52]:
list1[0],list1[1],list1[2],list1[3]

(1, 2, 3, 4)

In [56]:
for i in list1:
    print(i)

1
2
3
4

In [60]:
for i in range(len(list1)):
    print(i,list1[i],sep='-')

0-1
1-2
2-3
3-4

In [61]:
list1[-1]

4

In [63]:
list1[-2]

3

In [64]:
list1[-3]

2

In [65]:
list1[-4]

1

In [67]:
list1[-5]

IndexError: list index out of range

In [68]:
for i in range(len(list1)):
    print("The positive index of {} is {} and negative index is {}".format(list1[i],i,i-len(list1)))

The positive index of 1 is 0 and negative index is -4
The positive index of 2 is 1 and negative index is -3
The positive index of 3 is 2 and negative index is -2
The positive index of 4 is 3 and negative index is -1

In [71]:
#WAP find the elemnts which are having length less than 3
list11=['Apple','Ball','Cat',"Ab",'Cd','Ef']
for i in range(len(list11)):
    if len(list11[i])<3:
        print(list11[i])

Ab
Cd
Ef

In [72]:
for i in list11:
    if len(i)<3:
        print(i)

Ab
Cd
Ef

In [73]:
#WAP find the elemnts which are having #
list22=['App#e','B#ll','C#t','Ab','Cd','Ef']
for i in list22:
    if '#' in i:
        print(i)

App#e
B#ll
C#t

In [74]:
#WAP to count and find the elemnts which are having #
list22=['App#e','B#ll','C#t','Ab','Cd','Ef']
count=0
for i in list22:
    if '#' in i:
        count=count+1
        print(i)
print(count)

App#e
B#ll
C#t
3

In [76]:
list1=[1,2,3,['Apple','Ball']]
#retrive the ball using index
list1[3][1]

'Ball'

In [84]:
list2=[[[[[[['Cherry']]]]]]]
list2[0][0][0][0][0][0][0]

'Cherry'

In [94]:
#WAP 
list3=[[[['A','B',[[[1,2,3,['car']]]]]]]]
#car
list3[0][0][0][2][0][0][3][0]

'car'

**Mutable**

In [95]:
list4=[1,2,3,4]
list4[2]=1000
list4
#lists are mutable

[1, 2, 1000, 4]

**slice**

In [96]:
list1=[10,20,30,40,50,'P','Y','T','H','O','N','a','b','c','D']
print(list1[2:14:3])#[30,'P','H','a','D']
print(list1[2:14:-3])#not possible []
print(list1[2:-14:3]) #not possible []
print(list1[2:-14:-3]) #possible [30]
print(list1[-2:14:3])#possible ['c']
print(list1[-2:-14:3])#not possible 
print(list1[-2:-14:-3])#possible ['c','N','T',50,20]
print(list1[-2:14:-3])#not possible []

[30, 'P', 'H', 'a']
[]
[]
[30]
['c']
[]
['c', 'N', 'T', 50]
[]

In [98]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

**clear-copy**

In [97]:
list1=[1,2,3,4]
#I want to copy these elements into a list 2
list2=list1.copy()
list2

[1, 2, 3, 4]

In [99]:
list1.clear()

In [100]:
list1

[]

In [101]:
list2

[1, 2, 3, 4]

In [ ]:
#Side heading
#Write the code
# insight/observation from above code

$17-11-2023$

**append**

In [3]:
#adds something at the end
list1=[100,200]
list1.append(300)
list1

[100, 200, 300]

In [5]:
list1=[]
list1.append(100)
list1.append(200)
list1.append(300)
list1

[100, 200, 300]

In [6]:
list1.append(100,200)
list1

TypeError: list.append() takes exactly one argument (2 given)

In [7]:
list1.append([100,200])
list1

[100, 200, 300, [100, 200]]

In [8]:
list1.append('apple')
list1

[100, 200, 300, [100, 200], 'apple']

In [10]:
list1=[1,2,3,4,5,6,7,8,9,10]
#create a new list =[1,4,9,16,25]
for i in list1:
    print(i*i)

1
4
9
16
25
36
49
64
81
100

In [13]:
#I dont want to print the values, I want to save the values in a list
op=[]
for i in list1:
    op.append(i**2)   
op

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
list2=['hyd','bglr','delhi']
#output: ['Hyd','Bglr','Delhi']
op=[]
for i in list2:
    i=i.capitalize()
    op.append(i)
op

['Hyd', 'Bglr', 'Delhi']

In [17]:
list3=['h#d','beng#luru','delhi']
#output: elements with #
op=[]
for i in list3:
    if '#' in i:
        op.append(i)
op

['h#d', 'beng#luru']

**List Comprehension**

In [20]:
#code in a single line========> speed up the process
list1=[1,2,3,4,5]
op=[]
for i in list1:
    op.append(i**2)   
op
#step1: initialize the list output=[]
#step2: iterate the list
#step3: you save the output
output1=[i*i for i in list1]
output1
#list comprehension

[1, 4, 9, 16, 25]

In [21]:
op2=[i.capitalize() for i in list2]
op2

['Hyd', 'Bglr', 'Delhi']

In [24]:
#Create the list of 20 numbers from 1 to 20
op3=[i for i in range(1,21)]
op3
op2=[]
for i in range(1,21):
    op2.append(i)
op2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [27]:
#list comprehension with if condition
list3=['h#d','beng#luru','delhi']
#output: elements with #
op=[]
for i in list3:
    if '#' in i:
        op.append(i)
op

['h#d', 'beng#luru']

In [28]:
op4=[i for i in list3 if '#' in i]
op4
outpu1=[<o/p> <for loop> <if_condn>]

['h#d', 'beng#luru']

In [29]:
list4=['abcd','abc','ac','a']
op5=[i for i in list4 if len(i)<3]
op5

['ac', 'a']

In [31]:
#list comprehension with if-else
list1=[1,2,3,4,5,6]
oput=[]
for i in list1:
    if i%2==0:
        oput.append('Even:{}'.format(i))
    else:
        oput.append('Odd:{}'.format(i))
oput

['Odd:1', 'Even:2', 'Odd:3', 'Even:4', 'Odd:5', 'Even:6']

In [36]:
op6=['Even:{}'.format(i) if i%2==0 else'Odd:{}'.format(i) for i in list1]
op6
# [<if_output><if_condn>else<else condn><for_loop>]

['Odd:1', 'Even:2', 'Odd:3', 'Even:4', 'Odd:5', 'Even:6']

**count**

In [37]:
list1=[1,2,3,'A','B','B','B','C']
list1.count('B')

3

In [39]:
#
count=0
for i in list1:
    if i=='B':
        count+=1
count

3

**extend**

In [46]:
list1=['A','B','C']
list2=[1,2,3]
list1.extend(list2)

In [41]:
list1

['A', 'B', 'C', 1, 2, 3]

In [49]:
list1=['A','B','C']
list2=[1,2,3]
list1.append(list2)

In [50]:
list1

['A', 'B', 'C', [1, 2, 3]]

In [51]:
list1=['A','B','C']
list1+list2
list1

['A', 'B', 'C']

In [ ]:
- append vs extend vs concat
- append will add the element at last, that element can be of any type
- list1=[1,2,3]
- list2=['A','B']
- list1.append=[1,2,3,['A','B']]
- extend will update the list by adding new elements and the result will also save in the same list
- list1=[1,2,3]
- list2=['A','B']
- list1.extend=[1,2,3,'A','B']
- concat will add the two lists, but the result will not update in the same list 
- list1=[1,2,3]
- list2=['A','B']
- list1+list2=[1,2,3,'A','B']

**Iterator**

In [ ]:
- iterator word-----> loop
- if the elements we can print using for loop
- string='python'--we can print each letter using for loop
- list1=[1,2,3]--we can print each element using for loop

In [54]:
val=reversed('python')
val

In [55]:
for i in val:
    print(i)

n
o
h
t
y
p

In [56]:
list1=[1,2,3]
list1.extend([1,2,3,4])
list1

[1, 2, 3, 1, 2, 3, 4]

In [129]:
list1=[1,2,3]
list1.extend('python')
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n']

In [58]:
list1=[1,2,3]
list1.extend('p')
list1

[1, 2, 3, 'p']

In [59]:
list1=[1,2,3]
list1.extend(1)
list1

TypeError: 'int' object is not iterable

In [60]:
list1=[1,2,3]
list1.extend(2.33)
list1

TypeError: 'float' object is not iterable

In [67]:
a='python'
list1=[1,2,3]
list1.extend(a)
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n']

In [62]:
a=[1,2,3,4]
list1=[1,2,3]
list1.extend(a)
list1

[1, 2, 3, 1, 2, 3, 4]

In [63]:
a=200
list1=[1,2,3]
list1.extend(a)
list1

TypeError: 'int' object is not iterable

**pop/remove/del**

In [68]:
list1.append('python')
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n', 'python']

In [69]:
list1.pop()
# in side bracket default argument is there---index=-1
#if any other value is not given, it will remove last value
#if i provide any index, it will remove that element
# it will return the element which we are removing

'python'

In [130]:
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n']

In [71]:
list1.pop(5)

't'

In [131]:
list1.pop(list1.index('t'))

't'

In [72]:
list1

[1, 2, 3, 'p', 'y', 'h', 'o', 'n']

In [73]:
list1.pop(100)

IndexError: pop index out of range

In [74]:
list1=[100,200,100,300] #duplicates are allowed
list1.remove(100)#first occurrance will be removed
#remove method will not return any value

In [75]:
list1

[200, 100, 300]

In [76]:
del(list1)

In [77]:
list1

NameError: name 'list1' is not defined

In [138]:
list1=[100,200,100,300]

In [79]:
del(list1[2])

In [139]:
del(list1[list1.index(100,list1.index(100)+1)])

In [140]:
list1

[100, 200, 300]

- del is a keyword
- pop will take index
- remove will take value
- if we dont provide any argument, pop will remove last element by default but remove will give an error
- keywords are applicable to all but methods work only on few

In [ ]:
- index
- insert
- reverse------------reversed
- sort----------------sorted

In [91]:
list1

[100, 100, 200, 300, 500]

In [83]:
list1.index(100)

0

In [84]:
list1.index(100,1)

2

In [96]:
list1.index(100,0,1)

0

In [85]:
list1.insert(2,500)

In [86]:
list1

[100, 200, 500, 100, 300]

In [87]:
list1.reverse()

In [112]:
list1=[100, 200, 500, 100, 300]

In [113]:
list1.reverse()
list1

[300, 100, 500, 200, 100]

In [89]:
list1.sort()

In [103]:
list1

[100, 100, 200, 300, 500]

In [110]:
list1.sort(reverse=True)
list1

[900, 500, 300, 200, 100, 100]

In [104]:
val=reversed(list1)

In [105]:
val

In [106]:
for i in val:
    print(i)

500
300
200
100
100

In [107]:
sorted(list1)

[100, 100, 200, 300, 500]

In [108]:
list1.insert(2,900)
list1

[100, 100, 900, 200, 300, 500]

In [109]:
sorted(list1,reverse=True)

[900, 500, 300, 200, 100, 100]

In [ ]:
- index vs multiple values
- insert vs append
- reverse ascending and descending=====reversed
- sort====sorted
- difference between reverse and sort
#get all the differences all the information

In [ ]:
#wherever we need to count, use index instead

In [115]:
list1=['Ram','Robot','Raheem']
list2=[25,30,35]
#Ram age is 25 
#Robot is age

In [118]:
op=[]
for i in list1:
    for j in list2:
        op.append('{} age is {}'.format(i,j))
op

['Ram age is 25',
 'Ram age is 30',
 'Ram age is 35',
 'Robot age is 25',
 'Robot age is 30',
 'Robot age is 35',
 'Raheem age is 25',
 'Raheem age is 30',
 'Raheem age is 35']

**zip**

In [120]:
for i,j in zip(list1,list2):
    print("{} age is {}".format(i,j))

Ram age is 25
Robot age is 30
Raheem age is 35

In [121]:
list1=[100,200,300]
list2=[25,30,35]
#op=[125,230,335]
op=[]
for i, j in zip(list1,list2):
    op.append(i+j)
op

[125, 230, 335]

In [122]:
op=[i+j for i,j in zip(list1,list2)]
op

[125, 230, 335]

In [127]:
#take 5 questions in a list1
# take 5 corresponding answers in another list
#iterate through list1
#every qn should print
#ans=input('tell me answer')
#check the answer with the corresponding answer in list2
# if it is there: marks+=1
#else: no marks
# how many correct answers you made, how many answers you got?
list1=['who is PM of India', 'what is the capital of India', 'who is president of India?','Who is the CM of telangana?',"Who is the foreign affairs minister of India "]
list2=['Modi','Delhi','Draupadi Murmu','KCR','Jai Shankar']
marks=0
correct=0
wrong=0
for i in range(len(list1)):
    print('Q1 is',i)
    answer=input('enter your answer:')
    if answer.casefold()==list2[i].casefold():
        print('Correct!')
        marks=marks+1
        correct=correct+1
    else:
        print("Wrong!")
        wrong=wrong+1
print("No. of correct answers is {} and no. of wrong answers is {}".format(correct,wrong))
print('Marks:',marks)

Q1 is 0
enter your answer:modi
Correct!
Q1 is 1
enter your answer:34567
Wrong!
Q1 is 2
enter your answer:ertyui
Wrong!
Q1 is 3
enter your answer:rftgyhui
Wrong!
Q1 is 4
enter your answer:fghjk
Wrong!
No. of correct answers is 1 and no. of wrong answers is 4
Marks: 1

In [159]:
list4=[[0,9,87],'abc','ac','a']
op5=[list4[0][j] for i in range(len(list4)) for j in range(3) if type(list4[i])==list]
op5

[0, 9, 87]

In [ ]:
0,9,87