In [1]:
list1=['Ram','Raheem','Robert']
list2=[25,30,35]

In [2]:
#  'Ram has age 25'
# 'Raheem has age 30'
# 'Robert has age 35'
for i,j in zip(list1,list2):
    print(i,j)

Ram 25
Raheem 30
Robert 35

-Dictionary
- {key: value}
-

In [26]:
d1={'Ram':25,'Raheem':30,'Robert':35}
d1
#keys:='Ram','Raheem','Robert'
#values=25,30,35

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [7]:
d2={25:'ram',30:'raheem',35:'robert'}
d2
#keys= 25,30,35
#values: 'ram','raheem','robert'

{25: 'ram', 30: 'raheem', 35: 'robert'}

In [8]:
d3={'even':[2,4,6], 'odd':[1,3,5,7]}
d3

{'even': [2, 4, 6], 'odd': [1, 3, 5, 7]}

In [9]:
d4={[2,4,6]:'even',[1,3,5]:'odd'}
d4
#For list its not working(list cannot be a key)

TypeError: unhashable type: 'list'

In [10]:
d4={(2,4,6):'even',(1,3,5):'odd'}
d4
#tuple can be a key

{(2, 4, 6): 'even', (1, 3, 5): 'odd'}

In [11]:
d5={'item_list':{'fruits':'Apple'}}
d5

{'item_list': {'fruits': 'Apple'}}

In [13]:
d6={{'fruits':'Apple'}:'item_list'}
d6
#dictionary cannot be a key

TypeError: unhashable type: 'dict'

In [ ]:
a=[1,2]
b=(1,2)

In [14]:
a,b=[1,2]
c,d=(1,2)

In [15]:
a,b

(1, 2)

In [16]:
a

1

In [17]:
b

2

In [18]:
c

1

In [19]:
d

2

In [20]:
(c,d)

(1, 2)

In [21]:
a=1,2
a

(1, 2)

In [ ]:
- Dictionary is a key:value pair
- at values position, we can take any data type
- but at keys position, list and dictionary will fail
- duplicates are not allowed
- if you want to update a key value, latest value it will take

In [22]:
d1={'A':1,'B':2,'A':1}
d1
#duplicates are not allowed in a dictionary 
# key-value pairs are unique

{'A': 1, 'B': 2}

In [23]:
d1={'A':1,'B':2,'A':3}
d1

{'A': 3, 'B': 2}

$type$

In [24]:
type(d1)

dict

In [ ]:
- str
- list
- dict
- int
- float
- bool
- complex
- tuple
- set

In [27]:
d1={'Ram':25,'Raheem':30,'Robert':35}
max(d1)
#max value is based on key only

'Robert'

In [29]:
d1={'Ram':25,'Raheem':30,'Robert':5}
max(d1)

'Robert'

In [30]:
min(d1)

'Raheem'

In [31]:
len(d1)
#number of key-value pairs

3

In [32]:
sum(d1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [33]:
d2={1:2,3:4}

In [35]:
sum(d2)

4

In [38]:
d2={100:2,300:4}
sum(d2)

400

In [39]:
d2={100:'2',300:'4'}
sum(d2)

400

In [36]:
sum('python')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

$in$

In [40]:
d1={'Ram':25,'Raheem':30,'Robert':35}
for i in d1:
    print(i)

Ram
Raheem
Robert

In [44]:
'Ram' in d1

True

In [45]:
'Ram':25 in d1

SyntaxError: illegal target for annotation (2106383994.py, line 1)

In [46]:
25 in d1

False

In [43]:
for i in d1:
    print(i)

SyntaxError: invalid syntax (329760831.py, line 2)

$index$

In [47]:
d1={'Ram':25,'Raheem':30,'Robert':35}
d1[0]

KeyError: 0

In [48]:
d1={'Ram':25,'Raheem':30,'Robert':35}
d1['Ram']

25

In [49]:
d1={'Ram':25,'Raheem':30,'Robert':35}
d1['Raheem']

30

In [50]:
d1={'Ram':25,'Raheem':30,'Robert':35}
d1['Robert']

35

In [51]:
#to get values from a dictionary
for i in d1:
    print(d1[i])

25
30
35

In [52]:
for key in d1:
    print(key,d1[key])

Ram 25
Raheem 30
Robert 35

**creating an empty dictionary and update it**

In [53]:
d1={}

In [54]:
d1

{}

In [56]:
type(d1)

dict

In [59]:
d1={}
d1['fruit']='apple'
d1

{'fruit': 'apple'}

In [60]:
#WAP create a database {name:"",company:"",place:''}
db={}
db['name']='abc'
db['company']='apple'
db['place']='hyd'

In [61]:
db

{'name': 'abc', 'company': 'apple', 'place': 'hyd'}

In [63]:
#wap create a dictionary based on two lists 
list1=['Ram','Raheem','Robert']
list2=[25,30,35]
d3={}
for i,j in zip(list1,list2):
    d3[i]=j
d3

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [67]:
d3={}
for k in range(len(list1)):
    d3[list1[k]]=list2[k]

In [68]:
d3

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

$Dictionary$ $comprehension$

In [71]:
names=['Ram','Raheem','Robert']
ages=[25,30,35]
d3={names[i]:age[i] for i in range(len(names))}
d3

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [72]:
d3={name:age for name,age in zip(names,ages)}
d3

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [ ]:
#WAP take 5 random numbers 
# and create a dictionary with even and odd
# o/p:{'even':[20,20],odd:[19,21,23]}
even=[]
odd=[]
d3={}
import random
number=ran
even=[i.random.randint for i in range(5): ]

In [127]:
import random
even=[]
odd=[]
d3={}
for i in range(5):
    num=random.randint(1,100)
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)
#d3={'even':even for even,odd in zip(even,odd) if }
# d3={'odd':odd for i in odd}
# d3={'even':even for i in even}
d3={num if random.randint(1,100)%2==0  else 5 for i in range(5)}
d3

{5, 41}

In [112]:
d3['even']=even

In [111]:
d3['odd']=odd

In [113]:
d3

{'even': [44], 'odd': [37, 89, 55, 91]}

In [129]:
#WAP take 5 random numbers 
# and create a dictionary with even and odd
# o/p:{'even':[20,20],odd:[19,21,23]}
import random
even=[]
odd=[]
d3={}
for i in range(5):
    num=random.randint(1,10)
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)
d3['even']=even
d3['odd']=odd
d3

{'even': [4, 10], 'odd': [7, 1, 1]}

In [1]:
import os
os.getcwd()

'C:\\Users\\BITS\\Documents\\Full_Stack_DS_AI_course\\Python\\Intermediate Python'

**Dictionary methods**

In [1]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

$items-keys-values$

In [17]:
d1={'Ram':25,'Raheem':30,'Robert':35}

In [3]:
d1.items()

dict_items([('Ram', 25), ('Raheem', 30), ('Robert', 35)])

In [4]:
d1.keys()

dict_keys(['Ram', 'Raheem', 'Robert'])

In [5]:
d1.values()

dict_values([25, 30, 35])

In [6]:
type(d1.items())

dict_items

In [7]:
type(d1.keys())

dict_keys

In [8]:
type(d1.values())

dict_values

In [9]:
l1=[25,30,35]
l1.append(40)
l1

[25, 30, 35, 40]

In [11]:
(d1.values()).append(40)

AttributeError: 'dict_values' object has no attribute 'append'

In [18]:
values=list(d1.values())
values
#values list

[25, 30, 35]

In [19]:
keys=list(d1.keys())
keys
#keys list

['Ram', 'Raheem', 'Robert']

In [13]:
#1
keys=list(d1.keys())
values=list(d1.values())

In [22]:
#2
d1={}
for i in range(len(keys)):
    d1[keys[i]]=values[i]
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [23]:
d1={i:j for i,j in zip(keys,values)}
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [24]:
#########
dict(zip(keys,values))

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [33]:
s1='virat.kohli@blr.com,Rohit.sharma@mumbai.com,kl.rahul@lucknow.com'
#output: {'firstname':['virat','rohit']}
s1=s1.split(',')
s1
first_name=[]
second_name=[]
company=[]
for i in s1:
    first_name.append(i[:i.find('.')])
    second_name.append(i[i.find('.')+1:i.find('@')])
    company.append(i[i.find('@')+1:i.find('.com')])
first_name
second_name   
company
d1={}
d1['first_name']=first_name
d1['second_name']=second_name
d1['company']=company
d1

{'first_name': ['virat', 'Rohit', 'kl'],
 'second_name': ['kohli', 'sharma', 'rahul'],
 'company': ['blr', 'mumbai', 'lucknow']}

In [34]:
d1={i:j for i,j in zip(['first_name','second_name','company'],[first_name,second_name,company])}
d1

{'first_name': ['virat', 'Rohit', 'kl'],
 'second_name': ['kohli', 'sharma', 'rahul'],
 'company': ['blr', 'mumbai', 'lucknow']}

In [35]:
dict(zip(['first_name','second_name','company'],[first_name,second_name,company]))

{'first_name': ['virat', 'Rohit', 'kl'],
 'second_name': ['kohli', 'sharma', 'rahul'],
 'company': ['blr', 'mumbai', 'lucknow']}

In [46]:
#WAP
str1='can can you canner can you able to can canner'
#{'can':4,'you':2,'canner':2,'able':1,'to':1}
list11=str1.split(" ")
for i in list11:
    d1[i]=list11.count(i)
d1

{'can': 4, 'you': 2, 'canner': 2, 'able': 1, 'to': 1}

In [44]:
list1=[1,1,2,2,2]
list1.count(2)

3

In [51]:
#WAP 
d1={'a':20,'b':30,'c':40}
d2={'a':50,'b':100,'c':200}
#op: {'a':70,'b':130}
list1={}
for i,j in zip(d1,d2):
    if i==j:
        list1[j]=d1[i]+d2[j]
list1

{'a': 70, 'b': 130, 'c': 240}

In [ ]:
#strings/lists/dictionary

In [131]:
##Soln
d1={'a':15,'b':50,'c':49}
d2={'a':5,'b':50,'c':9,'d':20}
d3={}
if len(d1)==len(d2):
    for i,j in zip(d1,d2):
        d3[i]=d1[i]+d2[j]
elif len(d2)>len(d1):
    d3.update(d1)
    for i in d2:
        if i in d1:
            d3[i]=d3[i]+d2[i]
        else:
            d3[i]=d2[i]
elif len(d1)>len(d2):
    d3.update(d2)
    for i in d1:
        if i in d2:
            d3[i]=d3[i]+d1[i]
        else:
            d3[i]=d1[i]   
d3

{'a': 20, 'b': 100, 'c': 58, 'd': 20}

In [105]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

$22-11-2023$

**clear()-copy()**

In [1]:
d1={1:2,2:3,4:5}
d2={}

In [2]:
d2=d1.copy()
d2

{1: 2, 2: 3, 4: 5}

In [3]:
d1.clear()

In [4]:
d1

{}

**pop-popitem-del**
- pop will remove specified item and returns value
- popitem() will remove last item and returns the key-value pair(#LIFO)
- del will delete the item by providing key/dictionary

In [12]:
d1={'apple':20,'banana':30,'cherry':67}
d1.pop('apple')

20

In [17]:
d1.pop(d1)
#you cant delete whole dictionary items at once using pop

KeyError: {}

In [13]:
d1.popitem()

('cherry', 67)

In [14]:
d1

{'banana': 30}

In [15]:
del d1['banana']
d1

{}

In [10]:
del(d1)
#del is a buit-in function
#del d1 will also work

In [11]:
d1

NameError: name 'd1' is not defined

In [ ]:
- items/values/keys:
    - two lists given, creating a dictionary
    - dictionary given, generating the two lists
    - create an empty string/list/dictionary
- counter
- summ
- function
- pop/popitem/del
- copy/clear

In [19]:
d1={}
d1['key']='value'
d1

{'key': 'value'}

**from-keys,get**

In [20]:
d1={'apple':20,'baba':30}
d1.get('apple')
#accessing the values

20

In [22]:
d1.get('cherry')

In [24]:
d1['cherry']
#here we get error instead we can do d.get() to access an element if we dont know if the item is there in the dictionary or not

KeyError: 'cherry'

In [ ]:
- how many wways can we do
- what output it is returning
- what is the difference
- get method- no error
- direct accessing-keyerror

In [23]:
d1.fromkeys(['apple','banana','cherry'])
# creates a new dictionary

{'apple': None, 'banana': None, 'cherry': None}

In [26]:
d1.fromkeys(['apple','banana','cherry'],2)

{'apple': 2, 'banana': 2, 'cherry': 2}

In [27]:
d1.fromkeys(['apple','banana','cherry'],[2,3,4])

{'apple': [2, 3, 4], 'banana': [2, 3, 4], 'cherry': [2, 3, 4]}

In [28]:
d1.fromkeys(['apple','banana','cherry'],'fruits')

{'apple': 'fruits', 'banana': 'fruits', 'cherry': 'fruits'}

In [29]:
d1.fromkeys('raheem')

{'r': None, 'a': None, 'h': None, 'e': None, 'm': None}

In [30]:
d1.fromkeys('raheem',25)

{'r': 25, 'a': 25, 'h': 25, 'e': 25, 'm': 25}

In [ ]:
#iterable is something on which we can run a for loop and we can print/access the elements in it

In [31]:
d1

{'apple': 20, 'baba': 30}

In [33]:
d1.setdefault('cherry')
d1
# if key is not present, it will set its default value
# if key is present, it will not update the value of the key

{'apple': 20, 'baba': 30, 'cherry': None}

In [34]:
d1.setdefault('cherry',24)
d1

{'apple': 20, 'baba': 30, 'cherry': None}

In [37]:
d1.setdefault('dog',24)

24

In [38]:
d1

{'apple': 20, 'baba': 30, 'cherry': None, 'dog': 24}

In [40]:
d2={1:2,3:4}
d1.update(d2)
#Update method will update a dictionary with elements from another dictionary

In [41]:
d1

{'apple': 20, 'baba': 30, 'cherry': None, 'dog': 24, 1: 2, 3: 4}

In [48]:
l1=[1,2,3,4]
d1.update(['st'])

In [49]:
d1

{'apple': 20, 'baba': 30, 'cherry': None, 'dog': 24, 1: 2, 3: 4, 's': 't'}

In [55]:
d1.update([[1,2],[2,3]])
print(d1)

{'a': 1, 'b': 4, 'c': 5, 1: 2, 2: 3}

In [60]:
d1.update([['hello',20],['ball',89]])
d1

{'a': 1, 'b': 4, 'c': 5, 1: 2, 2: 3, 'hello': 20, 20: 89, 'ball': 89}

In [54]:
d1={'a':1,'b':4,'c':5}
d2={'a':0,'b':3,'d':9}
d2.update(d1)
d2

{'a': 1, 'b': 4, 'd': 9, 'c': 5}

In [ ]:
Tuple
- how to read
- type/max/min/len/sum
- indexx/mutable
- in/for 
- slice
- methods

In [ ]:
- elif is not there in list comprehensions
- only if-else can be used instead