In [ ]:
- how to read the strings
- single quotes/double quotes
- docstring
- type
- max
- min
- len
- addition of 2 strings(concatenation)
- mul/div/subtraction of 2 strings
- in operator(for loop)
- index
- mutable condition
- slice
- string methods

**reading a set**

In [1]:
s1={1,3,2}
s1

{1, 2, 3}

In [2]:
s2={1,True}
s2

{1}

In [2]:
s3={1,1.3,False,'abc'}
s3

{1, 1.3, False, 'abc'}

In [3]:
s4={[1,2,3],2,2.55}
s4

TypeError: unhashable type: 'list'

In [5]:
s5={{1,2,3},{23,34,56}}
s5

TypeError: unhashable type: 'set'

In [6]:
s6={(1,2,3),9.5,True}
s6
#tuple is hashable

{(1, 2, 3), 9.5, True}

In [7]:
s7={'apple',False,3+10j,(10,34)}
s7

{(10, 34), (3+10j), False, 'apple'}

In [8]:
s8={{1:2,3:4},(12,34)}
s8

TypeError: unhashable type: 'dict'

In [9]:
s9=set({1:2,3:4})
s9

{1, 3}

In [10]:
s10=set([1,2,3])
s10

{1, 2, 3}

In [11]:
s11=set('string')
s11

{'g', 'i', 'n', 'r', 's', 't'}

In [12]:
s12=set(1.23)
s12

TypeError: 'float' object is not iterable

In [13]:
s13=set(2)

TypeError: 'int' object is not iterable

In [5]:
type(s1)

set

In [7]:
len(s1)

3

In [8]:
max(s1)

3

In [10]:
min(s1)

1

In [11]:
s1={1,2,3}
s2={23,34,45}
s1+s2
# not allowed in a set

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [12]:
s1-s2

{1, 2, 3}

In [14]:
s1*s2
#* not allowed for sets

TypeError: unsupported operand type(s) for *: 'set' and 'set'

In [15]:
s1/s2
#/ not allowed between sets

TypeError: unsupported operand type(s) for /: 'set' and 'set'

In [18]:
s3={1,'apple',True, 23.5}
print(s3)
for i in s3:
    print(i)

{1, 'apple', 23.5}
1
apple
23.5

In [20]:
for i in range(len(s3)):
    print(s3[i])

TypeError: 'set' object is not subscriptable

**index**

In [21]:
s3.index('apple')
#no index function

AttributeError: 'set' object has no attribute 'index'

In [22]:
s3[0]
# cannot access elements through indices

TypeError: 'set' object is not subscriptable

In [23]:
s4={1,1,1,True}
s4
#duplicates are not allowed in a set

{1}

In [ ]:
#sets are not mutable

In [1]:
set1={"True"}
for i in set1:
    print(i)

True

In [2]:
for i in range(len(set1)):
    print(set1[i])

TypeError: 'set' object is not subscriptable

In [3]:
'True' in set1

True

In [4]:
for i in range(len(set1)):
    print(i)

0

**Methods**

In [25]:
dir(s4)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

**1.add**

In [14]:
s1={1,2,3,4,5}
s1.add(6)
s1
#adds an element

{1, 2, 3, 4, 5, 6}

In [19]:
s1.add(1.2)
s1

{(1, 2), 1, 1.2, 2, 3, 4, 5, 6, 'apple'}

In [15]:
s1.add('apple')
s1

{1, 2, 3, 4, 5, 6, 'apple'}

In [16]:
s1.add({1,2})
s1

TypeError: unhashable type: 'set'

In [17]:
s1.add((1,2))
s1

{(1, 2), 1, 2, 3, 4, 5, 6, 'apple'}

In [18]:
s1.add({1:2})
s1

TypeError: unhashable type: 'dict'

In [20]:
s1.add(2+7j)
s1

{(1, 2), (2+7j), 1, 1.2, 2, 3, 4, 5, 6, 'apple'}

In [23]:
s2={(1,2),2+7j,1,2,3,4,5,6,1.2,3.4,2.6,4.6,'ball','zebra','aaa','apple','vot'}
s2

{(1, 2),
 (2+7j),
 1,
 1.2,
 2,
 2.6,
 3,
 3.4,
 4,
 4.6,
 5,
 6,
 'aaa',
 'apple',
 'ball',
 'vot',
 'zebra'}

**2.clear**

In [24]:
s1.clear()
s1

set()

**3.copy()**

In [27]:
s2={1,2,3}
s1=s2.copy()
s1

{1, 2, 3}

**4.difference**

In [30]:
s1={1,2,3}
s2={20,13,23}
s2.difference(s1)

{13, 20, 23}

In [31]:
s1={1,2,3}
s2={1,2,3,4}
s2.difference(s1)

{4}

In [32]:
s1.difference(s2)

set()

**5.difference_update**

In [33]:
s2.difference_update(s1)

In [34]:
s2

{4}

In [35]:
s1.difference_update(s2)

In [36]:
s1

{1, 2, 3}

**6.discard**

In [37]:
s1.discard(3)
s1
#removes the passed element

{1, 2}

In [38]:
s1.discard(78)
s1
#doesnt raise an error if the element is not there in the set

{1, 2}

**7. intersection**

In [39]:
s1={1,2,3}
s2={3,4,5}
s1.intersection(s2)

{3}

**8. intersection_update**

In [40]:
s1.intersection_update(s2)
s1

{3}

**9. isdisjoint**

In [42]:
s1={1,2,3}
s2={4,5,6}
s1.isdisjoint(s2)
#returns True if 2 sets have null intersection

True

In [43]:
s11={1,2,3}
s22={2,4,6}
s11.isdisjoint(s22)

False

**10. issubset**

In [44]:
s1={1,2,3,4,5,6,7,8,9}
s2={1,2}
s2.issubset(s1)

True

**11. issuperset**

In [45]:
s2.issuperset(s1)

False

**12.pop**

In [49]:
s1.pop()
#removes a random element from the set
# keyerror if the given set is empty

2

In [50]:
s1

{3, 4, 5, 6, 7, 8, 9}

**13.remove**

In [51]:
s1.remove(3)
#removes an element from the set
#keyerror if element is not there in the set

In [52]:
s1

{4, 5, 6, 7, 8, 9}

**14. symmetric_difference**

In [54]:
s1={1,2,3,4}
s2={2,3,4,5,6}
s1.symmetric_difference(s2)
# returns all elements that are in exactly one of the sets.
#except the common elements

{1, 5, 6}

**15.symmetric_difference_update**

In [55]:
s1.symmetric_difference_update(s2)
#returns and updates all the elements that are in exactly one of the sets
s1

{1, 5, 6}

**16. union**

In [56]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

**17. update**

In [59]:
s2={11,12,13}
s1.update(s2)
#updates the set with the union of the given set

In [60]:
s1

{1, 2, 3, 4, 5, 6, 11, 12, 13}